* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

body {
    font-family: 'Lato', sans-serif;
}

/* banner section */
#banner {
    background: rgba(229, 84, 115, 0.10);
}

.banner-content {
    display: flex;
}

.banner-info {
    padding-top: 197px;
}

.banner-title {
    width: 708px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.banner-description {
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 32px 0;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border-radius: 8px;
    border: none;
    background: #E55473;
}

.banner-flower {
    padding-top: 50px;
    padding-bottom: 0;
}

/* featured flowers section */
#featured-flowers {
    padding-top: 178px;
    padding-bottom: 128px;
}

.featured-flowers-info {
    text-align: center;
}

.featured-flowers-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.featured-flowers-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 48px;
}

.featured-flowers-content {
    display: flex;
    justify-content: space-between;
}

.featured-flower1 {
    text-align: center;
}

.featured-flower2 {
    text-align: center;
}

.featured-flower3 {
    text-align: center;
}

.img-flower1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0 76px;
}

.img-flower2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px 47px;
}

.img-flower3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0 75px;
}

.img-flower-info {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding-top: 32px;
}

/* delivery, flower & support section */
#delivery-flower-support {
    padding-bottom: 128px;
}

.delivery-flower-support-container {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 86px;
    padding-bottom: 87px;
}

.delivery-flower-support-container p {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    padding-top: 24px;
}

/* hot deal section */
#hot-deal {
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 128px;
}

.hot-deal-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hot-deal-container-info {
    text-align: center;
}

.hot-deal-container h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.hot-deal-container span {
    color: #E55473;
}

.hot-deal-container p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
}

.hot-deal-flower-img {
    padding: 100px 0;
}

/* instagram section */
#insta {
    margin-bottom: 128px;
}

.insta-info {
    text-align: center;
}

.insta-info h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.insta-info p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 45px;
}

.insta-img-container {
    display: flex;
    justify-content: space-between;
}

/* latest deals section */
#latest-deals{
    margin-bottom: 128px;
}
.bg-flower-img {
    background: url("./Flower Asset/Rectangle 9.png");
    height: 449px;
    position: relative;
    align-items: center;
    display: flex;
}

.latest-deals-info {
    text-align: center;
    margin: 0 auto;
}

.latest-deals-info h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.latest-deals-info p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 16px;
    padding-bottom: 48px;
}

.latest-deals-info input {
    width: 700px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding: 23px 0 22px 22px;
    margin-right: 16px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}